.charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px
    
}

.chart-wrapper {
    width: 45%;
    max-width: 600px;
}

.chart-wrapper-globe {
    width: 35%;
    max-width: 600px;
}

.chart-title {
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 4px;
}

.stat-box {
    border: 1px solid black;
    padding: 6px;
    border-radius: 10px;
    
}

.stat {
    font-size: 42px;
}
.stat-title {
    font-size: 24px
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 48px;
}
