.city-title {
    font-weight: bold;
    font-size: 24px;
}

/* App.css */
.post-expanded {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Change as needed */
    z-index: 1000; /* High z-index to overlay on top of other content */
    overflow-y: auto; /* Allows scrolling within the expanded post */
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
  }
  
  .background-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 500; /* Lower than post but higher than page content */
  }
  

  .highlighted-img {
    height: 50%;
    text-align: center;

  }

  