.city-title {
    font-weight: bold;
    font-size: 24px;
}
.post-expanded {
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Change as needed */
    z-index: 1000; /* High z-index to overlay on top of other content */
    overflow-y: auto; /* Allows scrolling within the expanded post */
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
  }
  
  .background-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 500; /* Lower than post but higher than page content */
  }
  
  .highlighted-card {
    display: flex;
    justify-content: center;
  }
  .highlighted-name-title {
    margin: 40px;
    text-align: center;
  }

  .highlighted-img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px

  }

  .post-container {
    display: flex;
    width: 800px;
    justify-content: center;
  }
  .post-content {
    flex: 1
  }
  .post-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:24px;
  }

  .post-details {
    display: flex;
    flex-direction: column;
    width: 180px;
  }

  .highlighted-description {
    font-size: 30px;
    padding-top: 6px;
  }

  .highlighted-ingredient-title {
    font-size: 32px;
    text-decoration: underline;
  }

  .highlighted-ingredient-steps {
    font-size: 32px;
    text-decoration: underline;
  }
  .highlighted-ingredients {
    font-size: 24px;
  }

  .highlighted-steps {
    font-size: 24px;
  }
  